<section class="benefits">
    <h2>Our Benefits</h2>
    <div class="benefit">
      <img src="https://cdn.vox-cdn.com/thumbor/Stn4BvUwDgFAlTJ8zSfLvsBggak=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/9199167/white.jpg" alt="Benefit 1">
      <h3>Free Shipping</h3>
      <p>Enjoy free shipping on all orders.</p>
    </div>
    <div class="benefit">
      <img src="https://cdn.vox-cdn.com/thumbor/Stn4BvUwDgFAlTJ8zSfLvsBggak=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/9199167/white.jpg" alt="Benefit 2">
      <h3>Easy Returns</h3>
      <p>Return or exchange items hassle-free.</p>
    </div>
    <div class="benefit">
      <img src="https://cdn.vox-cdn.com/thumbor/Stn4BvUwDgFAlTJ8zSfLvsBggak=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/9199167/white.jpg" alt="Benefit 3">
      <h3>24/7 Customer Support</h3>
      <p>Get support whenever you need it.</p>
    </div>
  </section>