---
import SearchBar from '../base/SearchBar.astro';
---
<section class="hero">
    <div class="text"> 
      <h1>LABOROSO</h1>
      <p>Viva siempre el trabajo y la paz</p>
      <SearchBar />
    </div>
    
    <img src="https://res.cloudinary.com/sagacity/image/upload/c_crop,h_3333,w_5000,x_0,y_0/c_limit,dpr_2.625,f_auto,fl_lossy,q_80,w_412/SeptemberShop-courtesy_gb1yug.jpg" alt="Product 1">
  </section>