<section class="next">
       
    <div class="text"> 
      <h1>Featured things</h1>
      <blockquote>A completely new <span style="font-style: italic;">experience</span> for buying trending clothing </blockquote>
    </div>
    
    <div class="product">
      <img src="https://i.etsystatic.com/11135918/r/il/b941e4/3853153906/il_fullxfull.3853153906_8tg2.jpg" alt="Product 3">
      <h3>cool shirt</h3>
      <p>15$</p>
    </div>
    <div class="product">
      <img src="https://i.etsystatic.com/11135918/r/il/b941e4/3853153906/il_fullxfull.3853153906_8tg2.jpg" alt="Product 3">
      <h3>Other cool shirt</h3>
      <p>10$</p>
    </div>
  </section>