---
---

<script>

</script>

<section class="filter-component">

<div class="filter-container-accordion">

        <!--SALTO -->
        <div class="accordion-container">
            <button class="accordion-button">
                <div class="label">
                    Organizar
                    <div class="spacing the arrow"></div>
                    <div class="arrow">
                        <svg class="arrow-direction" width="24px" height="24px" fill="none" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                            <path  d="M17 11.7494V14.916L12 11.0827L7 14.916V11.7494L12 7.91602L17 11.7494Z"
                                fill="currentColor"></path>
                        </svg>
                    </div>
                </div>
            </button>
            <div class="">
                <div role="radiogroup" class="accordion-content active">
                    <label data-baseweb="radio" class="">
                        <div class="">
                            <div class=""></div>
                        </div><input name="1c7cf7ef-730f-431f-9072-26bc39f7c021" tabindex="0" type="radio" class=""
                            value="3c7cf7ef-730f-431f-9072-26bc39f7c022" checked="" />
                        <div class="">
                            <span class="">
                                Elegido para ti (predeterminado)</span>
                        </div>
                    </label><label data-baseweb="radio" class="">
                        <div class="">
                            <div class=""></div>
                        </div><input name="1c7cf7ef-730f-431f-9072-26bc39f7c021" tabindex="-1" type="radio" class=""
                            value="4c7cf7ef-730f-431f-9072-26bc39f7c023" />
                        <div class="">
                            <span class=""> Más popular</span>
                        </div>
                    </label><label data-baseweb="radio" class="">
                        <div class="">
                            <div class=""></div>
                        </div><input name="1c7cf7ef-730f-431f-9072-26bc39f7c021" tabindex="-1" type="radio" class=""
                            value="5991d63c-4d42-46bc-8301-ce224557e615" />
                        <div class="">
                            <span class=""> Calificación</span>
                        </div>
                    </label><label data-baseweb="radio" class="">
                        <div class="">
                            <div class=""></div>
                        </div><input name="1c7cf7ef-730f-431f-9072-26bc39f7c021" tabindex="-1" type="radio" class=""
                            value="5c7cf7ef-730f-431f-9072-26bc39f7c024" />
                        <div class="">
                            <span class=""> Tiempo de entrega</span>
                        </div>
                    </label>
                </div>
            </div>
        </div>
       
        <!--SALTO -->

        <div class="accordion-container">
            <button class="accordion-button">
                <div class="label">
                    recomendados<div class="spacing the arrow"></div>
                    <div class="">
                        <svg class="arrow-direction" width="24px" height="24px" fill="none" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                            <path d="M17 11.7494V14.916L12 11.0827L7 14.916V11.7494L12 7.91602L17 11.7494Z"
                                fill="currentColor"></path>
                        </svg>
                    </div>
                </div>
            </button>
            <div class="accordion-content active">
                <label data-baseweb="checkbox" class="">
                    <div class="">
                        <div class="">
                            <!--
                            
                            <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" class="">
                                <path d="M11.333 22l10-10V3.667H13l-10 10L11.333 22z"></path>
                            </svg>
                            
                            -->
                            <div class=""></div>Ofertas
                        </div>
                    </div>
                    <div class="">
                        <div class=""></div>
                    </div><input type="checkbox" class="" value="" />
                </label>
                <div class=""></div><label data-baseweb="checkbox" class="">
                    <div class="">
                        <div class="">
                            
                            <!-- 
                                                            <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" class="">
                                <path d="M15 9l8-8h-6l-5 5-5-5H1l8 8h6z"></path>,<path
                                    d="M6 14v6l6 3 6-3v-6l-6-3.5L6 14z"></path>
                            </svg>
                            -->


                            <div class=""></div>Mejor valorados
                        </div>
                    </div>
                    <div class="">
                        <div class=""></div>
                    </div><input type="checkbox" class="" value="" />
                </label>
            </div>
        </div>
        
        <!--SALTO -->
        
        <div class="accordion-container">
            <button class="accordion-button">
                <div class="label">
                    Rango de precios<div class="spacing the arrow"></div>
                    <div class="">
                        <svg  class="arrow-direction" width="24px" height="24px" fill="none" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                            <path d="M17 11.7494V14.916L12 11.0827L7 14.916V11.7494L12 7.91602L17 11.7494Z"
                                fill="currentColor"></path>
                        </svg>
                    </div>
                </div>
            </button>
            <div class="accordion-content active">
                <div class="">
                    <button data-baseweb="button" class="">
                        <div class="">₡</div>
                    </button><button data-baseweb="button" class="">
                        <div class="">₡₡</div>
                    </button><button data-baseweb="button" class="">
                        <div class="">₡₡₡</div>
                    </button><button data-baseweb="button" class="">₡₡₡₡</button>
                </div>
            </div>
        </div>
    
   <!--SALTO -->
    <div class="accordion-container">
        <button class="accordion-button">
            <div class="label">
                Costo de envío máx.<div class="spacing the arrow"></div>
                <div class="">
                    <svg class="arrow-direction" width="24px" height="24px" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true" focusable="false">
                        <path d="M17 11.7494V14.916L12 11.0827L7 14.916V11.7494L12 7.91602L17 11.7494Z"
                            fill="currentColor"></path>
                    </svg>
                </div>
            </div>
        </button>
        <div class="accordion-content active">
            <div class="">
                <div class="">
                    <div class="">
                        <div class="">₡1300</div>
                        <div class="">₡2600</div>
                        <div class="">
                            ₡3900
                        </div>
                        <div class="">₡3900+</div>
                    </div><input max="3" type="range" class="" value="3" />
                </div>
            </div>
        </div>
    </div>
    <!--SALTO -->
    <div class="accordion-container">
        <button class="accordion-button">
            <div class="label">
                botones
                <div class="spacing the arrow"></div>
                <div class="">
                    <svg class="arrow-direction" width="24px" height="24px" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true" focusable="false">
                        <path d="M17 11.7494V14.916L12 11.0827L7 14.916V11.7494L12 7.91602L17 11.7494Z"
                            fill="currentColor"></path>
                    </svg>
                </div>
            </div>
        </button>
        <div class="accordion-content active">
            <div class="">
                <button data-baseweb="button" class="">
                    <div class="">
                        <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" class="">
                            <path
                                d="M14.083 2.833c-4.333 0-7.916 3.583-7.916 7.917v5.333L2.75 19.5l1.75 1.75 3.417-3.417h4.5a8.749 8.749 0 008.75-8.75v-6.25h-7.084zm0 2.5h3.75L8.667 14.5v-3.75c0-3 2.416-5.417 5.416-5.417z">
                            </path>
                        </svg>
                        <div class=""></div> Vegetariana
                    </div>
                </button><button data-baseweb="button" class="">
                    <div class="">
                        <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" class="">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M12 5.182C13.09 4 14.546 2.909 16.546 2.909 19.727 2.91 22 5.546 22 8.82c0 1.636-.727 3-1.818 4.09L12 20.637l-8.182-7.728C2.636 11.91 2 10.455 2 8.82c0-3.273 2.273-5.91 5.455-5.91 2 0 3.454 1.182 4.545 2.273zm0 6.09l3.364-3.182 1.818 1.818-5.182 5-5.182-5L8.636 8.09 12 11.272z">
                            </path>
                        </svg>
                        <div class=""></div> Vegana
                    </div>
                </button><button data-baseweb="button" class="">
                    <div class="">
                        <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" class="">
                            <path
                                d="M9.917 12.417l1.666-1.667c1.25-1.25 1.584-3.167.75-4.833L10.75 2.75 9.083 4.417c-1.25 1.25-1.583 3.166-.75 4.833l1.584 3.167zM13.25 12.417l-1.667 1.666 3.167 1.584c1.583.833 3.5.5 4.833-.75l1.667-1.667-3.167-1.583c-1.666-.834-3.583-.5-4.833.75zM7.333 11L5.75 7.833 4.083 9.5c-1.25 1.25-1.583 3.167-.75 4.833L4.917 17.5l1.666-1.667c1.25-1.333 1.584-3.25.75-4.833zM8.25 17.417l-1.667 1.666 3.167 1.584c1.583.833 3.5.5 4.833-.75l1.667-1.667-3.167-1.583c-1.666-.834-3.583-.5-4.833.75zM19.5 2.833c-2.75 0-5 2.25-5 5V9.5h1.667c2.75 0 5-2.25 5-5V2.833H19.5z">
                            </path>
                        </svg>
                        <div class=""></div> Sin gluten
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>

</section>


<style>
 
.filter-container-accordion {
 width: max-content;
 overflow-y: scroll;
}
 
.accordion-content {
 margin-left: 1em;
 font-size:large;
} 

.accordion-container .accordion-button {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    border-width: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    font: inherit;
    color: inherit;
    letter-spacing: inherit;
    cursor: pointer;
    width: 100%;
    line-height: 24px;
    font-size: 18px;
} 


/**  para el label del boton */
.accordion-container .accordion-button .label {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-box-direction: normal;
    letter-spacing: inherit;
    cursor: pointer;
    line-height: 24px;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;

}

.accordion-container .accordion-content{
    top: 50%;
    height: 0;
    overflow: hidden;
}

.accordion-container .accordion-content.active{
  height: auto;
}


.arrow-direction.active {
    transform: rotate(180deg);

}

.accordion-content label{
    display: flex;
}

/**EN CASO DE MODO CELULAR DEBERIA

*/

@media all and (max-width: 720px) {
   
}
</style>
   


<script>
    const accordion = document.getElementsByClassName('accordion-button');
    const accordionContent = document.getElementsByClassName('accordion-content');
    const arrow = document.getElementsByClassName('arrow-direction');
    for (let i = 0; i < accordion.length; i++) {
        accordion[i].addEventListener('click',function (){
          accordionContent[i].classList.toggle('active')
          arrow[i].classList.toggle('active')
        })
    }
</script>
