<section class="next">
       
    <div class="text"> 
      <h1>Featured things</h1>
      <blockquote>A completely new <span style="font-style: italic;">experience</span> for buying trending clothing </blockquote>
    </div>
    
    <div class="product">
      <img src="https://i.etsystatic.com/11135918/r/il/b941e4/3853153906/il_fullxfull.3853153906_8tg2.jpg" alt="Product 3">
      <h3>cool shirt</h3>
      <p>15$</p>
    </div>
    <div class="product">
      <img src="https://i.etsystatic.com/11135918/r/il/b941e4/3853153906/il_fullxfull.3853153906_8tg2.jpg" alt="Product 3">
      <h3>Other cool shirt</h3>
      <p>10$</p>
    </div>
  </section>

  <style>
     
  .next {

 
overflow:hidden;
  margin-bottom: 1rem;
}

.next .product p {
  margin-bottom: 1rem;
  font-size: 2em;
}


.next .product h3 {
  margin-bottom: 1rem;
  font-size: 1.5em;
  color: darkgray;
}

.next h2 {
  margin-bottom: 1rem;
}

.next img {
  max-width: 100%;
  width: 20rem;
  height: 20rem;
}

.next .text {
  max-width: 100%;

  /**/
  float:left; 
  margin-left:2rem;
  width: 20rem;
}

.next .product  {
  float:right; 
  margin-right:20px;
  width: 20rem;
}




  .next {
  
   
    overflow:hidden;
      margin-bottom: 1rem;
  }
  
  .next .product {
    display: inline-block;
    margin: 1rem;
  }
  .next .product p {
      margin-bottom: 1rem;
      font-size: 2em;
  }
  
  
  .next .product h3 {
      margin-bottom: 1rem;
      font-size: 1.5em;
      color: darkgray;
  }
  
  .next h2 {
      margin-bottom: 1rem;
    }
  
  .next img {
      max-width: 100%;
      width: 20rem;
      height: 20rem;
  }
  
  .next .text {
      max-width: 100%;
  
      /**/
      float:left; 
      margin-left:2rem;
      width: 20rem;
  }
  
  .next .product  {
      float:right; 
      margin-right:20px;
      width: 20rem;
  }

  .next  .product img {
    max-width: 100%;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
  }
  
  </style>