---
const products = [
    { day: 'Lunes' , time:'8:00 am - 10 pm'},
    { day: 'Martes' , time:'8:00 am - 10 pm'},
    { day: 'Miercoles' , time:'8:00 am - 10 pm'},
    { day: 'Jueves' , time:'8:00 am - 10 pm'},
    { day: 'Viernes' , time:'8:00 am - 10 pm'},
    { day: 'Sabado' , time:'8:00 am - 10 pm'},
  ];
---

<h2>Disponibilidad:</h2>

  {products.map((item) =>
    <div class="Calendar">               
      <p>{item.day}: {item.time}</p>
    </div>
  )}
  
<style>
  
</style>