---
---
<div class="comments-section">
    <h2>Comentarios</h2>
    <div class="comment">
      <div class="user">Usuario 1</div>
      <div class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    </div>
    <div class="comment">
      <div class="user">Usuario 2</div>
      <div class="message">Pellentesque ac ex vel neque facilisis congue.</div>
    </div>
    <!-- Agregar más comentarios aquí -->
</div>
  
<style>
.comments-section {
  margin-bottom: 20px;
  padding: 20px;
}

.comments-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.comment {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.comment:last-child {
  border-bottom: none;
}

.comment .user {
  font-weight: bold;
  color: #555;
}

.comment .message {
  margin-top: 5px;
  color: #777;
}

</style>