---
import LocationSmall from '../location/locationSmall.astro';

import CuadroServicio from './CuadroServicio.astro'
---

<div class="cuadro-servicio">

    <h1>Nuestros servicios</h1>
    
    <p>En la zona de : </p><LocationSmall></LocationSmall>
    
    <div class="flex-container-servicio">
        <CuadroServicio> 
    </div>
</div>