---
import CuadroServicio from './CuadroServicio.astro'
---

<div class="cuadro-servicio">

    <h1>Nuestros servicios</h1>
    
    <p>En la zona de Alajuela: </p>
    
    <div class="flex-container-servicio">
        <CuadroServicio> 
    </div>
</div>