---
const srcNext = Astro.props
---

<a id="circleBtn-next-link" href={srcNext}>
    <button class="circle-button-next"></button>
</a>

<style>
    .circle-button-next {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #39b571;
      color: #fff;
      font-size: 24px;
      cursor: pointer;
      border: 0;
    }
    
    /* Estilos para la flecha */
    .circle-button-next::after {
      content: "\2192"; /* Código Unicode para la flecha hacia la derecha */
    }

    a{
        text-decoration: none;
    }
  </style>
