---
const pageTitle:string = "LABOROSO"
import MenuOptions from "./MenuOptions.astro";
import ModalNav from "./ModalNav.astro";
import Navigation from "./Navigation.astro";
---
<header id="container">
    <!-- <a id="logo">{pageTitle}</a>               -->
   

    <div id="container">
        <div class="navLines" id="navLines">
            <div class="all-logo">
                <a id="logo" href="/"><img class="logo-image" src="../blackLogo.png"></img></a>
                <h1 class="logo">LABOROSO</h1>
            </div>
            <Navigation />
            <ModalNav />
        </div>
    </div>
    
    
</header>

<style>

.benefit {
    display: inline-block;
    margin: 1rem;
  }
  
  .benefit img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
  }
  
</style>