---
const pageTitle:string = "LABOROSO"
import Navigation from "./Navigation.astro";
import ModalNav from "./ModalNav.astro";
---
<header id="container">
    <!-- <a id="logo">{pageTitle}</a> -->
   

    <div id="container">
        <div class="navLines" id="navLines">
            <div class="all-logo">
                <a id="logo" href="/"><img class="logo-image" src="../blackLogo.png"></img></a>
            </div>
            <div class="nav-icon menu-icon" id="menu-toggle">
            </div>
            <div id="ModalNalComponent">
                <ModalNav />
            </div>
            <div id="NavigationComponent">
                <Navigation />
            </div>
        </div>
    </div>
</header>

<style>
    @media screen and (max-width: 980px) {
        #NavigationComponent{
            display: none;
        }

        #ModalNalComponent{
            
        }
        
    }
</style>