---
const pageTitle: string = "LABOROSO";
---
    <div class="horizontalMenu">
        <nav class="navHorizontalMenu">
            <ul id="opciones-menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/signup">Ser proveedor</a></li>
                <li><a href="/provider/perfil">Cuenta y seguridad</a></li>
            </ul>
        </nav>
    </div>

    <style>

        .navHorizontalMenu{
            margin: 0;
        }
        .horizontalMenu{
            display: flex;
            
        }

        @media screen and (max-width: 300px) {
            .opciones-menu{
                display: flex;
            }
        }
    </style>