---
const pageTitle: string = "LABOROSO";
---
    <div class="nav-links">
        <a href="/">Inicio</a>
        <a href="/services">Servicios</a>
        <a href="/signup">Ser proveedor</a>
        <a href="/provider/profile">Cuenta y seguridad</a>
    </div>

<style>

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.nav-links a:hover, a:focus {
    border-bottom: 3px solid #3eac5b;
  }
.expanded {
  display: unset;
}

@media screen and (min-width: 980px) {
  .nav-links {
    margin-left: 3em;
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .nav-links a:hover, a:focus {
    border-bottom: 3px solid #3eac5b;
  }

}
</style>