header{
  color: #000000;
  
}

h1 {
  font-family: "Playfair Display";
  font-size: 1.5rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 1.1;
}
  
h3 {
  font-family: "Playfair Display";
    font-size: 0.875rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 1.1;
}
  
p {
    font-family: "inter";
    font-size: 0.875rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.4286;
    margin: 0;
    padding: 0;
}
  
  
  
  pre {
    font-family: "Playfair Display";
    font-size: 0.8125rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.4286;
  }
  
  body {
    margin: 0;
    background: #ffffff;
    font-family: 'Playfair Display';
    padding: 20px;
  }
  
  h1,
  h2,
  p {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.4;
  }
  
  h2 {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4;
  }
  
  p {
    font-size: 1rem;
    line-height: 1.4;
  }
  
  a {
   color: black;
  }
  
  #container #navLines{
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    align-items: center;
  }

  .nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .login-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header div a{
    text-decoration: none;
  }
  
  nav{
    list-style: none;
     display: flex; 
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5em;
    padding: 0 1em;
  }

  .nav-links a{
    padding-left: 15px;
  }
  
  nav ul li {
    margin-left: 1rem;
    display: inline-block;
  }
  
  nav ul li a {
    color: #000000;
    text-decoration: none;
  }
  
  .menu-icon{
    display: none;
    position: absolute;
    top: 1.5em;
    right: 1em;
  }
  .open{
    height: 100vh;
  }
  .hidden{
    display: none;
  }
  
  /* @media all and (max-width: 720px) {
    #container {
      flex-direction: column;
      align-items: flex-start;
    }
    nav {
      height: 0;
      width: 100%;
      overflow: hidden;
      transition: 250ms height ease-in-out;
      margin-left: 1rem;
      display: block;
    }
    nav ul li {
      margin-left: 1rem;
      display: block;
      align-items: center;
      padding: 1em;
      align-items: center;
    }

     li  {
      display: block;
      text-align: center;
    }
    .menu-icon{
      display: block;
    }

    
  } */
  
  .flex-container-servicio{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .product img {
    max-width: 100%;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
  }
  
  .featured-products {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .featured-products h2 {
    margin-bottom: 1rem;
  }
  
  .product {
    display: inline-block;
    margin: 1rem;
  }
  
  
  
  .btn {
    display: inline-block;
    background-color: #000000;
    color: #fff;
    padding: 0.7rem 5rem;
    
    text-decoration: none;
    margin-top: 1rem;
    font-family: 'inter';
    font-weight: 700;
  }
  
  
  
  
  .hero  .text{
    background-size: cover;
    text-align: center;
    padding: 0 0;
    color: #000000;
    margin-bottom: 3rem;
  }
  .hero  .text h1{
  
    font-family: "Playfair Display";
    font-style: normal;
    font-variant: normal;
    margin-bottom: 1rem;
  }
  .hero  .text p{
    font-family: 'inter';
    margin-bottom: 3rem;
  }
  
  .hero img{
    width: auto;
    height: auto;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
  }
  
  
  
  .benefit {
    display: inline-block;
    margin: 1rem;
  }
  
  .benefit img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
  }
  
    

  
  .next {
  
   
    overflow:hidden;
      margin-bottom: 1rem;
  }
  
  .next .product p {
      margin-bottom: 1rem;
      font-size: 2em;
  }
  
  
  .next .product h3 {
      margin-bottom: 1rem;
      font-size: 1.5em;
      color: darkgray;
  }
  
  .next h2 {
      margin-bottom: 1rem;
    }
  
  .next img {
      max-width: 100%;
      width: 20rem;
      height: 20rem;
  }
  
  .next .text {
      max-width: 100%;
  
      /**/
      float:left; 
      margin-left:2rem;
      width: 20rem;
  }
  
  .next .product  {
      float:right; 
      margin-right:20px;
      width: 20rem;
  }
  blockquote {
      border-left: 2px solid #dddddd;
      font-family: "Playfair Display";
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: 1.4286;
  
      padding: 0 0 0 20px;
      font-size: 1.5em;
      margin-left: 5px;
   
  }
  
  .next {

 
    overflow:hidden;
      margin-bottom: 1rem;
  }
  
  .next .product p {
      margin-bottom: 1rem;
      font-size: 2em;
  }
  
  
  .next .product h3 {
      margin-bottom: 1rem;
      font-size: 1.5em;
      color: darkgray;
  }
  
  .next h2 {
      margin-bottom: 1rem;
    }
  
  .next img {
      max-width: 100%;
      width: 20rem;
      height: 20rem;
  }
  
  .next .text {
      max-width: 100%;
  
      /**/
      float:left; 
      margin-left:2rem;
      width: 20rem;
  }
  
  .next .product  {
      float:right; 
      margin-right:20px;
      width: 20rem;
  }
  blockquote {
      border-left: 2px solid #dddddd;
      font-family: "Playfair Display";
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: 1.4286;
  
      padding: 0 0 0 20px;
      font-size: 1.5em;
      margin-left: 5px;   
  }
