---
import LocationSmall from '../location/locationSmall.astro';

import ServiceChart from './ServiceChart.astro'
---

<div class="cuadro-servicio">

    <h1>Nuestros servicios</h1>
    
    <LocationSmall />
    
    <div class="flex-container-servicio">
        <ServiceChart> 
    </div>
</div>