---
const products = [
    { day: 'Lunes' , time:'8:00 am - 10 pm'},
    { day: 'Martes' , time:'8:00 am - 10 pm'},
    { day: 'Miercoles' , time:'8:00 am - 10 pm'},
    { day: 'Jueves' , time:'8:00 am - 10 pm'},
    { day: 'Viernes' , time:'8:00 am - 10 pm'},
    { day: 'Sabado' , time:'8:00 am - 10 pm'},
  ];
---

<h2 class="disponibilidad">Disponibilidad:</h2>

  {products.map((item) =>
    <div class="calendar">               
      <p>{item.day}: {item.time}</p>
    </div>
  )}
  
<style>
.disponibilidad{
  margin-top: 1rem;
  margin-left: 1rem;
}

.calendar{
  margin-top: 0.5rem;
  margin-left: 2rem;
}
</style>