---
import CreaAnuncio from "../components/forms/creaAnuncio.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
// const footer = false;
---
<BaseLayout footer={false} header={true}>
    
    <h2>Crea tu anuncio</h2>
    <CreaAnuncio />
</BaseLayout>
