---
import BarraNavegacion from '../components/BarraNavegacion.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Filtro from '../components/market/filtro.astro'
import Carrusell from '../components/Servicios/Carrusell.astro';

import LocationSmall from '../components/location/locationSmall.astro';

import CuadroServicio from '../components/Servicios/CuadroServicio.astro'

const pageTitle = "Trabajos Que Ayudan";
---
<BaseLayout pageTitle={pageTitle}>
    <BarraNavegacion />
    <Carrusell />
    
    <div class="pgServicios">
        <div class="servicios-filter">
            <Filtro />
        </div>
       

        <div class="cuadro-servicio">

          <h1>Nuestros servicios</h1>
          
          <p>En la zona de : </p><LocationSmall></LocationSmall>
          
          <div class="flex-container-servicio">
              <CuadroServicio> 
          </div>
      </div>
    </div>
</BaseLayout>
<style>
    
  .servicios-filter{
    width: 20rem;
    height: 50rem;
    padding-right: 0.6em;
    
    font-size: 30px;
    
  }

  .pgServicios{
    display: flex;
  }
  
  .cuadro-servicio{
    padding-left: 1em;
  }
  

@media all and (max-width: 720px) {
    .servicios-filter {
        display: none;
    }
}
</style>
