---
import NavBar from '../components/NavBar.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Filter from '../components/market/Filter.astro'
import Carousel from '../components/Services/Carousel.astro';

import LocationSmall from '../components/location/locationSmall.astro';

import ServiceChart from '../components/Services/ServiceChart.astro'

const pageTitle = "Trabajos Que Ayudan";
---
<BaseLayout pageTitle={pageTitle}>
    <NavBar />
    <Carousel />
    
    <div class="pgServicios">
        <div class="servicios-filter">
            <Filter />
        </div>
       

        <div class="cuadro-servicio">

          <h1>Nuestros servicios</h1>
          
          <p>En la zona de : </p><LocationSmall></LocationSmall>
          
          <div class="flex-container-servicio">
              <ServiceChart> 
          </div>
      </div>
    </div>
</BaseLayout>
<style>
    
  .servicios-filter{
    width: 20rem;
    height: 50rem;
    padding-right: 0.6em;
    
    font-size: 30px;
    
  }

  .pgServicios{
    display: flex;
  }
  
  .cuadro-servicio{
    padding-left: 1em;
  }
  

@media all and (max-width: 720px) {
    .servicios-filter {
        display: none;
    }
}
</style>
