---

---

<div> 
    <nav>
        <!-- Do not call Navlines component
        it falls into an endless loop and dev site does not
        render -->
        <ul id="menu">
            <li><a href="#">Home</a></li>
            <li><a href="servicios">Servicios</a></li>
            <li><a href="#">Ser Proveedor</a></li>
            <li><a href="#">Iniciar Sesion</a></li>
            <li><a href="#">Carrito</a></li>
        </ul>
    </nav>
</div>

<style>
    nav {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 5em;
        padding: 0 1em;
    }

    nav ul li {
        margin-left: 1rem;
        display: inline-block;
    }

    nav ul li a {
        color: #000000;
        text-decoration: none;
    }

    .menu-icon {
        display: none;
        position: absolute;
        top: 1.5em;
        right: 1em;
    }
    .open {
        height: 100vh;
    }
    .hidden {
        display: none;
    }

    @media all and (max-width: 720px) {
        #container {
            flex-direction: column;
            /* align-items: flex-start; */
        }
        nav {
            height: 0;
            width: 100%;
            overflow: hidden;
            transition: 250ms height ease-in-out;
            margin-left: 1rem;
            display: block;
        }
        nav ul li {
            margin-left: 1rem;
            display: block;
            align-items: center;
            padding: 1em;
            align-items: center;
        }
        li {
            display: block;
            text-align: center;
        }
        .menu-icon {
            display: block;
        }
    }
</style>

<script>
    // const navToggle = document.querySelector("#menu-toggle");
    // const navigation = document.querySelector("nav");
    // const navIcon = [...document.querySelectorAll(".nav-icon-000")];
    // //console.log(navIcon)
    // const hamburger = document.querySelector("#menu-toggle");

    // navToggle?.addEventListener("click", () => {
    //     navigation?.classList.toggle("open");
    //     navIcon.forEach((icon) => {
    //         icon.classList.toggle("hidden");
    //         //console.log("for each prueba");
    //     });
    // });
    // window.addEventListener("resize", () => {
    //     if (document.body.clientWidth > 720) {
    //         navigation?.classList.remove("open");
    //         navIcon.forEach((icon, i) => {
    //             icon.classList.add("hidden");
               
    //         });
    //         hamburger?.classList.remove("hidden");
    //     }
    // });
    
</script>
