---
import LocationSmall from "./location/locationSmall.astro";
import MobileNav from "./MobileNav.astro";
const pageTitle: string = "LABOROSO";
---
<div id="container">
    <div class="navLines" id="navLines">
        <div>
            <a id="logo">{pageTitle}</a>
        </div>
        <LocationSmall></LocationSmall>
        <div class="nav-icon menu-icon" id="menu-toggle">
            <!-- <a href="#" id="navIcon" class="nav-icon-000">&#9776;</a>
            <a href="#" id="navIcon" class="nav-icon-000 hidden">&#9932;</a> -->
        </div>
        
        <MobileNav />
    </div>
</div>

<style>
    #logo {
        color: #130909;
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
    }

</style>