---
import MobileNav from "./MobileNav.astro";
---
<div id="container">
    <div class="navLines" id="navLines">
        <div class="nav-icon menu-icon" id="menu-toggle">
            <!-- <a href="#" id="navIcon" class="nav-icon-000">&#9776;</a>
            <a href="#" id="navIcon" class="nav-icon-000 hidden">&#9932;</a> -->
        </div>
        <MobileNav />
    </div>
</div>

<style>
    
</style>