---

---
<div class="column-4 project-1">
    <h2 class="project-text">WEB <br>DESIGN</h2>
</div>

<div class="column-4 project-2">
  <h2 class="project-text">WEB <br>DESIGN</h2>
</div>

<div class="column-4 project-3">
  <h2 class="project-text">CHAT <br>BOTS</h2>
</div>

<div class="column-4 project-4">
  <h2 class="project-text">GAME <br> DESIGN</h2>
</div>

<div class="column-4 project-5">
  <h2 class="project-text">TEXT <br> ANALYSIS</h2>
</div>

<div class="column-4 project-6">
  <h2 class="project-text">JAVA <br> SCRIPT</h2>
</div>

<div class="column-4 project-7">
  <h2 class="project-text">DATA <br> PRIVACY</h2>
</div>

<div class="column-4 project-8">
    <h2 class="project-text">WEB <br>DESIGN</h2>
</div>

<style>
    .column-4 {
  /* float: left; */
  display: inline-block;
  width: 20%;
  padding: 10px;
  margin:20px;
  height: 250px;
}

/* Color and Images for service Containers  */

.project-1 {
  background: url('../images/project-left.jpeg');
  background-size: cover;
}

.project-2 {
  background-color:white;
}

.project-3 {
  background-color:#209BFF;
}

.project-4 {
  background-color:#112d4e;
}

.project-5 {
  background-color:#F9F7F7;
}

.project-6 {
  background-color:#209BFF;
}

.project-7 {
    background-color:#ffffff00;
}

.project-8 {
  background: url('../images/project-right.jpeg');
  background-size: cover;
}

.project-text {
    font-family: "Playfair Display";
  text-align:center;
  font-size:50px;
}
@media all and (max: width 720px;){
    .column-4{
        display: fit;
    }
}

</style>