---

const {categories} = Astro.props
---


<div class="container-anuncioform">
    <h2>Formulario de Usuarios</h2>
    <form  method="POST" id="user-form">
      <div class="form-group">
        <label for="nombre">Nombre del anuncio:</label>
        <input type="text" id="nombre" name="nombre" required />
      </div>
      <div class="form-group">
        <label for="apellido">:</label>
        <input type="text" id="apellido" name="apellido" required />
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" name="telefono" pattern="[0-9]{8}" required />
        <small>Formato: 12345678</small>
      </div>
      <div class="form-group">
        <label for="correo">Correo electrónico:</label>
        <input type="email" id="correo" name="correo" required />
      </div>
  
      <div class="form-group">
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required />
      </div>
      <div class="form-group">
        <label for="confirmar-contrasena">Confirmar contraseña:</label>
        <input type="password" id="confirmar-contrasena" name="confirmar-contrasena" />
      </div>
      
      <div class="form-group">
        <label for="provincia">Provincia:</label>
        <select id="provincia" name="provincia" required>
          <option value="" disabled selected>Seleccionar provincia</option>
          <option value="san_jose">San José</option>
          <option value="alajuela">Alajuela</option>
          <option value="cartago">Cartago</option>
          <option value="heredia">Heredia</option>
          <option value="guanacaste">Guanacaste</option>
          <option value="puntarenas">Puntarenas</option>
          <option value="limon">Limón</option>
        </select>
      </div>
      <div class="form-group">
        <label for="distrito">Distrito:</label>
        <input type="text" id="distrito" name="distrito" required />
      </div>
      <div class="form-group">
        <label for="canton">Cantón:</label>
        <input type="text" id="canton" name="canton" required />
      </div>
      <div class="form-group">
        <label for="servicio">Categoría de servicio:</label>
        <select id="servicio" name="servicio" required>
          <option value="">Seleccione una categoría</option>
          {categories.map((item:any) => 
          (<option value={item}>{item}</option>)
          )}

        </select>
      </div>
  
      <div class="form-group">
        <input type="submit" value="Enviar" />
      </div>
    </form>
   
  </div>
  
  
  
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
    }
  
    .container-anuncioform {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 1em;
    }
  
    .container-anuncioform h2 {
      text-align: center;
    }
  
    .container-anuncioform .form-group {
      margin-bottom: 15px;
    }
  
    .container-anuncioform .form-group label {
      display: block;
      font-weight: bold;
    }
  
    .container-anuncioform .form-group input,
    .container-anuncioform .form-group select {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
  
    .container-anuncioform .form-group input[type="submit"] {
      background-color: #000000;
      color: #ffffff;
      cursor: pointer;
    }
  
    .container-anuncioform .form-group input[type="submit"]:hover {
      background-color: #696969;
    }
  
    .container-anuncioform .form-group .error {
      color: red;
      font-size: 12px;
      margin-top: 5px;
    }
  </style>

