---
import CirculBtnNext from "../base/CirculBtnNext.astro";
const srcNext = "../pages/provider/profile.astro";

---

<div class="container-loginform">
  <h2>Es hora de crear tu perfil</h2>
  <form  method="POST" id="user-form">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required />
    </div>
    <div class="form-group">
      <label for="apellido">Apellidos:</label>
      <input type="text" id="apellido" name="apellido" required />
    </div>
    <div class="form-group">
      <label for="apellido">Cédula: (física o jurídica)</label>
      <input type="text" id="apellido" name="apellido" required />
      <small>*Esta informacion no se mostrara en tu perfil</small>
    </div>
    <div class="form-group">
      <label for="telefono">Teléfono:</label>
      <input type="tel" id="telefono" name="telefono" pattern="[0-9]{8}" required />
      <small>Formato: 12345678</small>
    </div>
    
    <div class="form-group">
      <label for="provincia">Provincia:</label>
      <select id="provincia" name="provincia" required>
        <option value="" disabled selected>Seleccionar provincia</option>
        <option value="san_jose">San José</option>
        <option value="alajuela">Alajuela</option>
        <option value="cartago">Cartago</option>
        <option value="heredia">Heredia</option>
        <option value="guanacaste">Guanacaste</option>
        <option value="puntarenas">Puntarenas</option>
        <option value="limon">Limón</option>
      </select>
    </div>
    <div class="form-group">
      <label for="distrito">Distrito:</label>
      <input type="text" id="distrito" name="distrito" required />
    </div>
    <div class="form-group">
      <label for="canton">Cantón:</label>
      <input type="text" id="canton" name="canton" required />
    </div>
    <div class="form-group">
      <label for="canton">Que servicio ofreces?</label>
      <input type="text" id="canton" name="canton" required />
    </div>
    <div class="form-group">
      <label for="canton">Cuentanos sobre el:</label>
      <input type="text" id="canton" name="canton" required />
    </div>
    <div id="nextBtnCreateProfile">
      <CirculBtnNext {srcNext}/>
    </div>
  </form>
 
</div>



<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }

  .container-loginform {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1em;
  }

  .container-loginform h2 {
    text-align: center;
  }

  .container-loginform .form-group {
    margin-bottom: 15px;
  }

  .container-loginform .form-group label {
    display: block;
    font-weight: bold;
  }

  .container-loginform .form-group input,
  .container-loginform .form-group select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .container-loginform .form-group input[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
  }

  .container-loginform .form-group input[type="submit"]:hover {
    background-color: #696969;
  }

  .container-loginform .form-group .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

  #nextBtnCreateProfile{
    align-items: center;
  }
</style>