---

const {categories} = Astro.props
---


<div class="container-anuncioform">
    <h2>Crea tu Anuncio</h2>
    <form  method="POST" id="user-form">
      <div class="form-group">
        <label for="nombre">Nombre del anuncio:</label>
        <input type="text" id="nombre" name="nombre" required />
      </div>
      <div class="form-group">
        <label for="descripcion">Descripcion:</label>
        <textarea id="descripcion" name="descripcion" rows="5" required>Ingrese una descripcion para su anuncio</textarea>
      </div>
      <div class="form-group">
        <label for="provincia">Provincia:</label>
        <select id="provincia" name="provincia" required>
          <option value="" disabled selected>Seleccionar provincia</option>
          <option value="san_jose">San José</option>
          <option value="alajuela">Alajuela</option>
          <option value="cartago">Cartago</option>
          <option value="heredia">Heredia</option>
          <option value="guanacaste">Guanacaste</option>
          <option value="puntarenas">Puntarenas</option>
          <option value="limon">Limón</option>
        </select>
      </div>
      <div class="form-group">
        <label for="distrito">Distrito:</label>
        <input type="text" id="distrito" name="distrito" required />
      </div>
      <div class="form-group">
        <label for="canton">Cantón:</label>
        <input type="text" id="canton" name="canton" required />
      </div>
      <div class="form-group">
        <label for="servicio">Categoría de servicio:</label>
        <select id="servicio" name="servicio" required>
          <option value="">Seleccione una categoría</option>
          {categories.map((item:any) => 
          (<option value={item}>{item}</option>)
          )}

        </select>
      </div>
  
      <div class="form-group">
        <input type="submit" value="Enviar" />
      </div>
    </form>
   
  </div>
  
  
  
  <style>
    /* body {
      font-family: "inter";
      background-color: #f4f4f4;
    } */
  
    .container-anuncioform {
        font-family: "inter";
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 1em;
    }
  
    .container-anuncioform h2 {
      text-align: center;
    }
  
    .container-anuncioform .form-group {
      margin-bottom: 15px;
    }
  
    .container-anuncioform .form-group label {
      display: block;
      font-weight: bold;
    }
  
    .container-anuncioform .form-group input,
    .container-anuncioform .form-group select {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
  
    .container-anuncioform .form-group input[type="submit"] {
      background-color: #000000;
      color: #ffffff;
      cursor: pointer;
    }
  
    .container-anuncioform .form-group input[type="submit"]:hover {
      background-color: #696969;
    }
    .container-anuncioform .form-group #descripcion{
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    font-family: "inter";
    }
    
    .form-group textarea {
    resize: vertical;
  }

  
    .container-anuncioform .form-group .error {
      color: red;
      font-size: 12px;
      margin-top: 5px;
    }
  </style>

